@page
@model ClintCardShop.Pages.LocationsModel
@using ClintCardShop.Models
@{
    ViewData["Title"] = "Locations";
    var token = ((Microsoft.AspNetCore.Mvc.RazorPages.PageModel)Model).HttpContext
        .RequestServices
        .GetRequiredService<Microsoft.AspNetCore.Antiforgery.IAntiforgery>()
        .GetAndStoreTokens(((Microsoft.AspNetCore.Mvc.RazorPages.PageModel)Model).HttpContext)
        .RequestToken;
}

<div class="locations-page">
    <h2 class="page-title">Storage Locations</h2>

    <div class="add-location-form">
        <h3 class="form-title">Add Location</h3>
        <form hx-post="/partials/locations"
              hx-target="#locations-list"
              hx-swap="innerHTML"
              hx-on::after-request="this.reset()">
            <input type="hidden" name="__RequestVerificationToken" value="@token" />
            <div class="form-row">
                <input class="loc-input" type="text" name="name" placeholder="Name (e.g. Main Binder)" maxlength="60" required />
                <button class="btn-add" type="submit">+ Add</button>
            </div>
        </form>
    </div>

    <div id="locations-list">
        <partial name="~/Views/Partials/_LocationsList.cshtml"
                 model="new ClintCardShop.Models.LocationsListViewModel(Model.Locations, Model.CardCounts)" />
    </div>
</div>
